#name,#mail,#web,#im{
    margin-top: 2px;
    border-radius: 3px;
}
#enroll
{
    font: bold;
    margin-top: 10px;
    margin-right: 5px;
    width: 100px;
    height:40px;
    border-radius: 4px;
    color:black;
    background-color: rgb(120, 164, 208);
}
#clear
{
    font: bold;
    margin-top: 10px;
    margin-right: 5px;
    width: 100px;
    height:40px;
    border-radius: 4px;
    color:white;
    background-color: red;
}
body
{
    background-image: linear-gradient(to right,aqua,white);
}
form,.col-6
{
    padding-top: 50px;
}